/*for all pages in admin*/
#nav {
    text-align: right;
    height: 30px;
}

.button {
    padding: 10px;
    text-decoration:none;
    color: inherit;
}

.button:hover {
    color: blueviolet;
}

.youth {
    background: url(/admin/images/youth.jpg) no-repeat center;
    width: 100%;
    height: auto;
}

.blog {
    text-align: center;
    border-style: solid;
    border-width: thin;
    padding: 20px;
}

.entry {
    text-decoration: none;
    color: inherit;
}

.entry:hover {
    color: blueviolet;
}

.form {
    text-align: center;
    border-style: solid;
    border-width: thin;
    padding: 20px;
}

table, td {
    border: 1px solid black;
    alignment: center;
}
td {
    padding: 5px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.operation {
    padding-bottom: 20px;
}

.main_background {
    position: relative;
    text-align: center;
}

.middle_right {
    position: absolute;
    bottom: 50%;
    left: 97%;
}

.middle_right2 {
    position: absolute;
    bottom: 60%;
    left: 97%;
}

.middle_right3 {
    position: absolute;
    bottom: 40%;
    left: 97%;
}

.font {
    text-align: center;
}